@{
    ViewData["Title"] = "Dashboard Home";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<!-- Add your dashboard content here -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Chart Title</h5>
            </div>
            <div class="card-body">
                <p>Your chart content goes here</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Statistics</h5>
            </div>
            <div class="card-body">
                <p>Your statistics content goes here</p>
            </div>
        </div>
    </div>
</div>